<html><head><meta charset="utf-8">
<title>Turf Pari Services</title>
<style type="text/css" media="all">
@import url( "./style/jbehave-core.css" );
</style>
</head>
<body>
 
<script type="syntaxhighlighter" class="brush: txt"><![CDATA[

(fr/pmu/stories/prixparis/prixParis_avecFlexi.story)
Scenario: Cas 1
Given un pari "Couplé Placé" formule "Combinaison simplifiée" de 5 chevaux : 1-2-3-4-5
And sur la course 1 de la réunion 1
And en mode Flexi à 50%
When j'enregistre le pari
Then l'enregistrement est OK
And le montant d'enjeu est égal à 7,50€
And le montant d'enjeu est supérieur ou égal à la mise de base
And le nombre de paris unitaires est égal à 10
And le montant du compte est débité de 7,50€

Scenario: Cas 2
Given un pari "Couplé Gagnant" formule "Champ réduit combinaison simplifiée" : 1-X/2,3,4,5
And sur la course 1 de la réunion 1
And en mode Flexi à 50%
When j'enregistre le pari
Then l'enregistrement est OK
And le montant d'enjeu est égal à 3,00€
And le montant d'enjeu est supérieur ou égal à la mise de base
And le nombre de paris unitaires est égal à 4
And le montant du compte est débité de 3,00€

Scenario: Cas 3
Given un pari "Couplé Ordre" formule "Combinaison complète" de 2 chevaux : 1-2
And sur la course 1 de la réunion 1
And en mode Flexi à 50%
When j'enregistre le pari
Then l'enregistrement est OK
And le montant d'enjeu est égal à 1,50€
And le montant d'enjeu est supérieur ou égal à la mise de base
And le nombre de paris unitaires est égal à 2
And le montant du compte est débité de 1,50€

Scenario: Cas 4
Given un pari "Couplé Gagnant" formule "Unitaire" de 2 chevaux : 1-2
And sur la course 1 de la réunion 1
And en mode Flexi à 50%
When j'enregistre le pari
Then l'enregistrement est KO
!-- Voir incompatibilité avec le cas 5
!-- And le montant d'enjeu est inférieur à la mise de base
And le montant du compte n'est pas débité

Scenario: Cas 5
Given un pari "Couplé Gagnant" formule "Unitaire" de 2 chevaux : 1-2
And sur la course 1 de la réunion 1
And en mode Flexi à 50%
When j'enregistre le pari
Then l'enregistrement est KO
And le mode Flexi n'existe pas pour ce pari
And le montant du compte n'est pas débité

Scenario: Cas 6
Given un pari "Couplé Gagnant" formule "Combinaison simplifiée" de 3 chevaux : 1-2-3
And sur la course 1 de la réunion 1
And en mode Flexi à 50%
When j'enregistre le pari
Then l'enregistrement est OK
Then le montant d'enjeu est égal à 2,25€

Scenario: Cas 7
Given un pari "Couplé Ordre" formule "Combinaison complète" de 2 chevaux : 1-2
And sur la course 1 de la réunion 1
And en mode Flexi à 10%
When j'enregistre le pari
Then l'enregistrement est KO
And le taux de Flexi n'existe pas pour ce pari

Scenario: Cas 8 Il n'est pas possible de définir à la fois une valeur et le mode flexi
Given un pari "Couplé Placé" formule "Combinaison simplifiée" de 5 chevaux : 1-2-3-4-5
And sur la course 1 de la réunion 1
And en mode Flexi à 50%
And la mise est d'une valeur de 7,50€
When j'enregistre le pari
Then l'enregistrement est KO



]]></script>
</body>
<!--  SyntaxHighlighter resources:  should be included at end of body -->
<link rel="stylesheet" type="text/css" href="./style/sh-3.0.83/shCore.css"/>
<link rel="stylesheet" type="text/css" href="./style/sh-3.0.83/shThemeRDark.css"/>
<script language="javascript" src="./js/sh-3.0.83/shCore.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushBash.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushCss.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushDiff.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushGroovy.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushJava.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushJScript.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushPlain.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushPython.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushRuby.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushScala.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushXml.js"></script>
<script language="javascript" src="./js/shBrushBdd.js"></script>
<script type="text/javascript">
    SyntaxHighlighter.defaults['gutter'] = false;
    SyntaxHighlighter.defaults['toolbar'] = false;    
    SyntaxHighlighter.all();
</script>
</html>
