<html><head><meta charset="utf-8">
<title>Turf Pari Services</title>
<style type="text/css" media="all">
@import url( "./style/jbehave-core.css" );
</style>
</head>
<body>
 
<script type="syntaxhighlighter" class="brush: xml"><![CDATA[

<story path="fr/pmu/stories/prixparis/prixParis_Multi_SpOt.story" title="">
<scenario keyword="Scenario:" title="Prise d'un pari Multi en 6 spOt Automatique Unitaire">   
<step outcome="successful">
Given un pari "<parameter>Multi"</parameter> formule "<parameter>Unitaire"</parameter> : ｟? - ? - ? - ? - ? - ?｠ 
</step>
<step outcome="successful">
And sur la course <parameter>1</parameter> de la réunion <parameter>1</parameter> 
</step>
<step outcome="successful">
And en spOt Automatique 
</step>
<step outcome="successful">
And son Cheval de Complément désigné, CC ? 
</step>
<step outcome="successful">
And en risque <parameter>6</parameter> 
</step>
<step outcome="ignorable">
!-- And pour 1 pari 
</step>
<step outcome="successful">
When j'enregistre le pari 
</step>
<step outcome="successful">
Then l'enregistrement est OK 
</step>
<step outcome="successful">
And le montant d'enjeu est égal à ｟3,00｠€ 
</step>
<step outcome="successful">
And le nombre de paris unitaires est ｟égal｠ à 1 ␤!--And le compte est débité de 3,00€ 
</step>
</scenario> 
<scenario keyword="Scenario:" title="Prise d'un pari Multi en 8 spOt Automatique Combiné 8 Chevaux (en combiné maxi 8 chevaux)">   
<step outcome="successful">
Given un pari "<parameter>Multi"</parameter> formule "｟Combinaison simplifiée｠" : ｟? - ? - ? - ? - ? - ? - ? - ?｠ 
</step>
<step outcome="successful">
And sur la course <parameter>1</parameter> de la réunion <parameter>1</parameter> 
</step>
<step outcome="successful">
And en spOt Automatique 
</step>
<step outcome="successful">
And son Cheval de Complément désigné, CC ? 
</step>
<step outcome="successful">
And en risque <parameter>8</parameter> 
</step>
<step outcome="successful">
When j'enregistre le pari 
</step>
<step outcome="successful">
Then l'enregistrement est KO 
</step>
<step outcome="successful">
And la validation du pari contient les codes derreurs suivant [{0} 
</step>
</scenario> 
<scenario keyword="Scenario:" title="Prise d'un pari Multi en 7 spOt Automatique Combiné 9 Chevaux (en combiné maxi 8 chevaux)">   
<step outcome="successful">
Given un pari "<parameter>Multi"</parameter> formule "｟Combinaison simplifiée｠" : ｟? - ? - ? - ? - ? - ? - ? - ? - ?｠ 
</step>
<step outcome="successful">
And sur la course <parameter>1</parameter> de la réunion <parameter>1</parameter> 
</step>
<step outcome="successful">
And en spOt Automatique 
</step>
<step outcome="successful">
And son Cheval de Complément désigné, CC ? 
</step>
<step outcome="successful">
And en risque <parameter>7</parameter> 
</step>
<step outcome="successful">
When j'enregistre le pari 
</step>
<step outcome="successful">
Then l'enregistrement est KO 
</step>
<step outcome="successful">
And la validation du pari contient les codes derreurs suivant [{0} 
</step>
</scenario> 
<scenario keyword="Scenario:" title="Prise d'un pari Multi en 4 spOt Automatique Combiné 7 chevaux">   
<step outcome="successful">
Given un pari "<parameter>Multi"</parameter> formule "｟Combinaison simplifiée｠" : ｟? - ? - ? - ? - ? - ? - ?｠ 
</step>
<step outcome="successful">
And sur la course <parameter>1</parameter> de la réunion <parameter>1</parameter> 
</step>
<step outcome="successful">
And en spOt Automatique 
</step>
<step outcome="successful">
And son Cheval de Complément désigné, CC ? 
</step>
<step outcome="successful">
And en risque <parameter>4</parameter> 
</step>
<step outcome="ignorable">
!-- And pour 1 pari 
</step>
<step outcome="successful">
When j'enregistre le pari 
</step>
<step outcome="successful">
Then l'enregistrement est OK 
</step>
<step outcome="successful">
And le montant d'enjeu est égal à ｟105,00｠€ 
</step>
<step outcome="successful">
And le nombre de paris unitaires est ｟égal｠ à 35 ␤!--And le compte est débité de 105,00€ 
</step>
</scenario> 
<scenario keyword="Scenario:" title="Prise d'un pari Multi en 5 spOt Mixte Combiné 6 chevaux">   
<step outcome="successful">
Given un pari "<parameter>Multi"</parameter> formule "｟Combinaison simplifiée｠" : ｟? - 3 - ? - 10 - ? - ?｠ 
</step>
<step outcome="successful">
And sur la course <parameter>1</parameter> de la réunion <parameter>1</parameter> 
</step>
<step outcome="successful">
And en spOt Mixte 
</step>
<step outcome="successful">
And son Cheval de Complément désigné, CC ? 
</step>
<step outcome="successful">
And en risque <parameter>5</parameter> 
</step>
<step outcome="ignorable">
!-- And pour 1 pari 
</step>
<step outcome="ignorable">
!-- And les chevaux 3-10 sont déclarés partant partant 
</step>
<step outcome="successful">
When j'enregistre le pari 
</step>
<step outcome="successful">
Then l'enregistrement est OK 
</step>
<step outcome="successful">
And le montant d'enjeu est égal à ｟18,00｠€ 
</step>
<step outcome="successful">
And le nombre de paris unitaires est ｟égal｠ à 6 ␤!--And le compte est débité de 18,00€ 
</step>
</scenario> 
<scenario keyword="Scenario:" title="Prise d'un pari Multi en 5 spOt Mixte Unitaire 6 chevaux (non passant)">   
<step outcome="successful">
Given un pari "<parameter>Multi"</parameter> formule "<parameter>Unitaire"</parameter> : ｟? - 3 - ? - 10 - ? - ?｠ 
</step>
<step outcome="successful">
And en spOt Automatique 
</step>
<step outcome="successful">
And son Cheval de Complément désigné, CC ? 
</step>
<step outcome="successful">
And en risque <parameter>4</parameter> 
</step>
<step outcome="successful">
And sur la course <parameter>1</parameter> de la réunion <parameter>1</parameter> 
</step>
<step outcome="ignorable">
!-- And pour 1 pari 
</step>
<step outcome="ignorable">
!-- TODO And le cheval 3 est déclaré partant partant 
</step>
<step outcome="ignorable">
!-- TODO And le cheval 10 est déclaré partant non-partant 
</step>
<step outcome="successful">
When j'enregistre le pari 
</step>
<step outcome="successful">
Then l'enregistrement est KO 
</step>
<step outcome="ignorable">
!-- PARI_RISQUE_INCOMPATIBLE_NB_CHEVAUX 
</step>
<step outcome="successful">
And la validation du pari contient les codes derreurs suivant [{0} 
</step>
<step outcome="successful">
And le compte n'est pas débité 
</step>
</scenario> 
<scenario keyword="Scenario:" title="Prise d'un pari Multi en 4 spOt Mixte Combiné 4 chevaux dont 1 non partant (non passant)">   
<step outcome="successful">
Given un pari "<parameter>Multi"</parameter> formule "<parameter>Unitaire"</parameter> : ｟? - 3 - ? - 10｠ 
</step>
<step outcome="successful">
And en spOt Automatique 
</step>
<step outcome="successful">
And son Cheval de Complément désigné, CC ? 
</step>
<step outcome="successful">
And en risque <parameter>4</parameter> 
</step>
<step outcome="successful">
And une course avec comme chevaux partants: [｟1,2,3,4,5,7,6,7,8,9｠] 
</step>
<step outcome="successful">
And sur la course <parameter>1</parameter> de la réunion <parameter>1</parameter> 
</step>
<step outcome="ignorable">
!-- And pour 1 pari 
</step>
<step outcome="ignorable">
!-- TODO And le cheval 3 est déclaré partant partant 
</step>
<step outcome="ignorable">
!-- TODO And le cheval 10 est déclaré partant non-partant 
</step>
<step outcome="successful">
When j'enregistre le pari 
</step>
<step outcome="successful">
Then l'enregistrement est KO 
</step>
<step outcome="successful">
And le parieur est informé que lun au moins des chevaux désignés est non partant (le {0} 
</step>
<step outcome="successful">
And le compte n'est pas débité 
</step>
</scenario> 
<scenario keyword="Scenario:" title="en spOt tout automatique, aucun cheval de base n'est à sélectionner">   
<step outcome="successful">
Given un pari "<parameter>Multi"</parameter> sans formule : ｟? - 3 - ? - 10 - ? - ?｠ 
</step>
<step outcome="successful">
And en spOt Tout Automatique 
</step>
<step outcome="successful">
And sur la course <parameter>1</parameter> de la réunion <parameter>1</parameter> 
</step>
<step outcome="ignorable">
!-- And pour 1 pari 
</step>
<step outcome="successful">
When j'enregistre le pari 
</step>
<step outcome="successful">
Then l'enregistrement est KO 
</step>
<step outcome="ignorable">
!-- TODO And le risque restitué par le moteur spOt est 6 
</step>
<step outcome="ignorable">
!-- par exemple de retour moteur spOt 
</step>
<step outcome="successful">
And la validation du pari contient les codes derreurs suivant [{0} 
</step>
</scenario> 
<scenario keyword="Scenario:" title="en spOt tout automatique, le cheval de complément n'est pas spécifié">   
<step outcome="successful">
Given un pari "<parameter>Multi"</parameter> spOt Tout Automatique 
</step>
<step outcome="successful">
And le cheval de complément <parameter>2</parameter> 
</step>
<step outcome="successful">
And sur la course <parameter>1</parameter> de la réunion <parameter>1</parameter> 
</step>
<step outcome="successful">
When j'enregistre le pari 
</step>
<step outcome="successful">
Then l'enregistrement est KO 
</step>
<step outcome="successful">
And la validation du pari contient les codes derreurs suivant [{0} 
</step>
</scenario> 
<scenario keyword="Scenario:" title="en spOt tout automatique, la formule est unitaire">   
<step outcome="successful">
Given un pari "<parameter>Multi"</parameter> formule "<parameter>Unitaire"</parameter> sans chevaux spécifiés 
</step>
<step outcome="successful">
And en spOt Tout Automatique 
</step>
<step outcome="successful">
And sur la course <parameter>1</parameter> de la réunion <parameter>1</parameter> 
</step>
<step outcome="successful">
When j'enregistre le pari 
</step>
<step outcome="successful">
Then l'enregistrement est OK 
</step>
</scenario> 
<scenario keyword="Scenario:" title="en spOt tout automatique, la formule ne peut pas être combinée">   
<step outcome="successful">
Given un pari "<parameter>Multi"</parameter> formule "｟Combinaison simplifiée｠" sans chevaux spécifiés 
</step>
<step outcome="successful">
And en spOt Tout Automatique 
</step>
<step outcome="successful">
And sur la course <parameter>1</parameter> de la réunion <parameter>1</parameter> 
</step>
<step outcome="successful">
When j'enregistre le pari 
</step>
<step outcome="successful">
Then l'enregistrement est KO 
</step>
<step outcome="successful">
And la validation du pari contient les codes derreurs suivant [{0} 
</step>
</scenario> 
<scenario keyword="Scenario:" title="en spOt tout automatique, le pari est Multi ou Mini Multi">   
<step outcome="successful">
Given un pari "｟Couplé Gagnant｠" formule "<parameter>Unitaire"</parameter> sans chevaux spécifiés 
</step>
<step outcome="successful">
And en spOt Tout Automatique 
</step>
<step outcome="successful">
And sur la course <parameter>1</parameter> de la réunion <parameter>1</parameter> 
</step>
<step outcome="successful">
When j'enregistre le pari 
</step>
<step outcome="successful">
Then l'enregistrement est KO 
</step>
<step outcome="successful">
And la validation du pari contient les codes derreurs suivant [{0} 
</step>
<step outcome="ignorable">
!-- TODO implémenter les autres cas (voir prixParis_KOMultiSpOt.story) 
</step>
</scenario> 
</story>


]]></script>
</body>
<!--  SyntaxHighlighter resources:  should be included at end of body -->
<link rel="stylesheet" type="text/css" href="./style/sh-3.0.83/shCore.css"/>
<link rel="stylesheet" type="text/css" href="./style/sh-3.0.83/shThemeRDark.css"/>
<script language="javascript" src="./js/sh-3.0.83/shCore.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushBash.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushCss.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushDiff.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushGroovy.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushJava.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushJScript.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushPlain.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushPython.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushRuby.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushScala.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushXml.js"></script>
<script language="javascript" src="./js/shBrushBdd.js"></script>
<script type="text/javascript">
    SyntaxHighlighter.defaults['gutter'] = false;
    SyntaxHighlighter.defaults['toolbar'] = false;    
    SyntaxHighlighter.all();
</script>
</html>
