<html><head><meta charset="utf-8">
<title>Turf Pari Services</title>
<style type="text/css" media="all">
@import url( "./style/jbehave-core.css" );
</style>
</head>
<body>
 
<script type="syntaxhighlighter" class="brush: txt"><![CDATA[

(fr/pmu/stories/prixparis/prixParis_MiniMulti_Unitaire.story)
Scenario: Cas 1 - Prise d'un pari Mini Multi Unitaire en 5 chevaux
Given un pari "Mini Multi" formule "Unitaire" : 3-6-9-8-1
And en risque 5
And sur la course 1 de la réunion 1
And la mise est d'une valeur de 4€
!-- TODO And les chevaux 3-6-9-8-1 sont déclarés partant partant
When j'enregistre le pari
Then l'enregistrement est OK
And le montant d'enjeu est égal à 4€
And le nombre de paris unitaires est égal à 1
And le montant du compte est débité de 4€

Scenario: Cas 2 - Prise d'un pari Mini Multi Unitaire en 7 chevaux KO
Given un pari "Mini Multi" formule "Unitaire" : 3-6-9-8-1-2-4
And en risque 7
And la mise est d'une valeur de 4€
And sur la course 1 de la réunion 1
When j'enregistre le pari
Then l'enregistrement est KO
And la validation du pari contient les codes d'erreurs suivant [PARI_MINI_MULTI_VALEUR_RISQUE_INVALIDE]
And le montant du compte n'est pas débité

Scenario: Cas 2bis - Prise d'un pari Mini Multi Unitaire en 3 chevaux KO
Given un pari "Mini Multi" formule "Unitaire" : 3-6-9
And en risque 3
And la mise est d'une valeur de 4€
And sur la course 1 de la réunion 1
When j'enregistre le pari
Then l'enregistrement est KO
And la validation du pari contient les codes d'erreurs suivant [PARI_MINI_MULTI_VALEUR_RISQUE_INVALIDE]
And le montant du compte n'est pas débité

Scenario: Cas 2ter - Prise d'un pari Mini Multi Unitaire en 6 chevaux KO
Given un pari "Mini Multi" formule "Unitaire" : 3-6-9-8-1
And en risque 6
And sur la course 1 de la réunion 1
And la mise est d'une valeur de 4€
When j'enregistre le pari
Then l'enregistrement est KO
And la validation du pari contient les codes d'erreurs suivant [PARI_NB_CHEVAUX_SELECTIONNES_INCOHERENT]
And le montant du compte n'est pas débité

Scenario: Cas 3 - Prise d'un pari Mini Multi Unitaire en 6 chevaux KO
Given un pari "Mini Multi" formule "Unitaire" : 3-6-9-8-1-2
And en risque 6
And sur la course 1 de la réunion 1
And la mise est d'une valeur de 2€
When j'enregistre le pari
Then l'enregistrement est KO
And la validation du pari contient les codes d'erreurs suivant [PARI_ENJEU_INFERIEUR_MINIMUM_ENJEU]
And le montant du compte n'est pas débité

Scenario: Cas 4 - Prise d'un pari Mini Multi Unitaire, avec 7 chevaux et un risque de 7 KO
Given un pari "Mini Multi" formule "Unitaire" : 3-6-9-8-1-2-4
And en risque 7
And sur la course 1 de la réunion 1
And la mise est d'une valeur de 10€
When j'enregistre le pari
Then l'enregistrement est KO
And la validation du pari contient les codes d'erreurs suivant [PARI_MINI_MULTI_VALEUR_RISQUE_INVALIDE]

Scenario: Cas 5 - Sans Risque (null)
Given un pari "Mini Multi" formule "Unitaire" : 3-6-9-8-1-2
And sur la course 1 de la réunion 1
And la mise est d'une valeur de 10€
When j'enregistre le pari
Then l'enregistrement est KO
And la validation du pari contient les codes d'erreurs suivant [PARI_MINI_MULTI_VALEUR_RISQUE_INVALIDE]

Scenario: Cas 6 - Pas de chevaux
Given un pari "Mini Multi" formule "Unitaire" sans chevaux spécifiés
And en risque 4
And sur la course 1 de la réunion 1
And la mise est d'une valeur de 10€
When j'enregistre le pari
Then l'enregistrement est KO
And la validation du pari contient les codes d'erreurs suivant [PARI_NB_CHEVAUX_SELECTIONNES_INCOHERENT]

Scenario: Cas 7 - Prise d'un pari Mini Multi Unitaire en 5 chevaux avec participant en double
Given un pari "Mini Multi" formule "Unitaire" : 3-6-9-8-3
And en risque 5
And sur la course 1 de la réunion 1
And la mise est d'une valeur de 4€
When j'enregistre le pari
Then l'enregistrement est KO
And la validation du pari contient les codes d'erreurs suivant [PARI_PARTICIPANT_NON_UNIQUE]

Scenario: Cas 8 - Prise d'un pari Mini Multi Unitaire en 5 chevaux avec CC KO
Given un pari "Mini Multi" formule "Unitaire" : 3-6-9-8-1 CC 7
And en risque 5
And sur la course 1 de la réunion 1
And la mise est d'une valeur de 4€
!-- TODO And les chevaux 3-6-9-8-1 sont déclarés partant partant
When j'enregistre le pari
Then l'enregistrement est KO
And la validation du pari contient les codes d'erreurs suivant [PARI_CHEVAL_COMPLEMENT_NON_AUTORISE]



]]></script>
</body>
<!--  SyntaxHighlighter resources:  should be included at end of body -->
<link rel="stylesheet" type="text/css" href="./style/sh-3.0.83/shCore.css"/>
<link rel="stylesheet" type="text/css" href="./style/sh-3.0.83/shThemeRDark.css"/>
<script language="javascript" src="./js/sh-3.0.83/shCore.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushBash.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushCss.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushDiff.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushGroovy.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushJava.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushJScript.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushPlain.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushPython.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushRuby.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushScala.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushXml.js"></script>
<script language="javascript" src="./js/shBrushBdd.js"></script>
<script type="text/javascript">
    SyntaxHighlighter.defaults['gutter'] = false;
    SyntaxHighlighter.defaults['toolbar'] = false;    
    SyntaxHighlighter.all();
</script>
</html>
