
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html><head><meta charset="utf-8">
<title>JBehave Reports</title>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<style type="text/css" media="all">
@import url( "./style/jbehave-core.css" );
</style>
</head>

<body>
<div id="banner"><img src="images/pmu_logo_beta.jpg" alt="pmu" />
<div class="clear"></div>
</div>

<div class="reports">

<a href="AllSteps.html">All steps</a>

<h2>Story Reports</h2>

<table>
<colgroup span="2" class="stories"></colgroup>
<colgroup span="5" class="scenarios"></colgroup>
<colgroup class="view"></colgroup>
<tr>
    <th colspan="2">Stories</th>
    <th colspan="5">Scenarios</th>
    <th></th>
    <th></th>
</tr>
<tr>
    <th>Name</th>
    <th>Excluded</th>
    <th>Total</th>
    <th>Successful</th>
    <th>Pending</th>
    <th>Failed</th>
    <th>Excluded</th>
    <th>Duration (hh:mm:ss.SSS)</th>
    <th>View</th>
</tr>
<tr>
<td class="story successful">AfterStories</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
<span class="class org.apache.maven.project.MavenProject">00:00:00.014</span></td>
<td><a href="AfterStories.html">html</a> </td>
</tr>
<tr>
<td class="story successful">BeforeStories</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
<span class="class org.apache.maven.project.MavenProject">00:00:00.004</span></td>
<td><a href="BeforeStories.html">html</a> </td>
</tr>
<tr>
<td class="story successful">PrixParis AvecChevalComplement Cas1 Invalid</td>
<td>
0</td>
<td>
<span class="class org.apache.maven.project.MavenProject">1</span></td>
<td>
<span class="class org.apache.maven.project.MavenProject">1</span></td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
<span class="class org.apache.maven.project.MavenProject">00:00:00.015</span></td>
<td><a href="fr.pmu.stories.chevalcomplement.prixParis_avecChevalComplement_cas1_invalid.html">html</a> </td>
</tr>
<tr>
<td class="story successful">PrixParis AvecFlexi</td>
<td>
0</td>
<td>
<span class="class org.apache.maven.project.MavenProject">8</span></td>
<td>
<span class="class org.apache.maven.project.MavenProject">8</span></td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
<span class="class org.apache.maven.project.MavenProject">00:00:00.068</span></td>
<td><a href="fr.pmu.stories.prixparis.prixParis_avecFlexi.html">html</a> </td>
</tr>
<tr>
<td class="story successful">PrixParis MiniMulti ChampTotal</td>
<td>
0</td>
<td>
<span class="class org.apache.maven.project.MavenProject">9</span></td>
<td>
<span class="class org.apache.maven.project.MavenProject">9</span></td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
<span class="class org.apache.maven.project.MavenProject">00:00:00.085</span></td>
<td><a href="fr.pmu.stories.prixparis.prixParis_MiniMulti_ChampTotal.html">html</a> </td>
</tr>
<tr>
<td class="story successful">PrixParis MiniMulti ChampsReduit</td>
<td>
0</td>
<td>
<span class="class org.apache.maven.project.MavenProject">11</span></td>
<td>
<span class="class org.apache.maven.project.MavenProject">11</span></td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
<span class="class org.apache.maven.project.MavenProject">00:00:00.086</span></td>
<td><a href="fr.pmu.stories.prixparis.prixParis_MiniMulti_ChampsReduit.html">html</a> </td>
</tr>
<tr>
<td class="story successful">PrixParis MiniMulti Combine</td>
<td>
0</td>
<td>
<span class="class org.apache.maven.project.MavenProject">7</span></td>
<td>
<span class="class org.apache.maven.project.MavenProject">7</span></td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
<span class="class org.apache.maven.project.MavenProject">00:00:00.078</span></td>
<td><a href="fr.pmu.stories.prixparis.prixParis_MiniMulti_Combine.html">html</a> </td>
</tr>
<tr>
<td class="story successful">PrixParis MiniMulti Unitaire</td>
<td>
0</td>
<td>
<span class="class org.apache.maven.project.MavenProject">10</span></td>
<td>
<span class="class org.apache.maven.project.MavenProject">10</span></td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
<span class="class org.apache.maven.project.MavenProject">00:00:00.082</span></td>
<td><a href="fr.pmu.stories.prixparis.prixParis_MiniMulti_Unitaire.html">html</a> </td>
</tr>
<tr>
<td class="story successful">PrixParis Multi ChampTotal</td>
<td>
0</td>
<td>
<span class="class org.apache.maven.project.MavenProject">8</span></td>
<td>
<span class="class org.apache.maven.project.MavenProject">8</span></td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
<span class="class org.apache.maven.project.MavenProject">00:00:00.068</span></td>
<td><a href="fr.pmu.stories.prixparis.prixParis_Multi_ChampTotal.html">html</a> </td>
</tr>
<tr>
<td class="story successful">PrixParis Multi ChampsReduit</td>
<td>
0</td>
<td>
<span class="class org.apache.maven.project.MavenProject">9</span></td>
<td>
<span class="class org.apache.maven.project.MavenProject">9</span></td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
<span class="class org.apache.maven.project.MavenProject">00:00:00.093</span></td>
<td><a href="fr.pmu.stories.prixparis.prixParis_Multi_ChampsReduit.html">html</a> </td>
</tr>
<tr>
<td class="story successful">PrixParis Multi Combine</td>
<td>
0</td>
<td>
<span class="class org.apache.maven.project.MavenProject">5</span></td>
<td>
<span class="class org.apache.maven.project.MavenProject">5</span></td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
<span class="class org.apache.maven.project.MavenProject">00:00:00.047</span></td>
<td><a href="fr.pmu.stories.prixparis.prixParis_Multi_Combine.html">html</a> </td>
</tr>
<tr>
<td class="story successful">PrixParis Multi SpOt</td>
<td>
0</td>
<td>
<span class="class org.apache.maven.project.MavenProject">12</span></td>
<td>
<span class="class org.apache.maven.project.MavenProject">12</span></td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
<span class="class org.apache.maven.project.MavenProject">00:00:00.109</span></td>
<td><a href="fr.pmu.stories.prixparis.prixParis_Multi_SpOt.html">html</a> </td>
</tr>
<tr>
<td class="story successful">PrixParis Multi Unitaire</td>
<td>
0</td>
<td>
<span class="class org.apache.maven.project.MavenProject">7</span></td>
<td>
<span class="class org.apache.maven.project.MavenProject">7</span></td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
<span class="class org.apache.maven.project.MavenProject">00:00:00.056</span></td>
<td><a href="fr.pmu.stories.prixparis.prixParis_Multi_Unitaire.html">html</a> </td>
</tr>
<tr>
<td class="story successful">PrixParis Pick5</td>
<td>
0</td>
<td>
<span class="class org.apache.maven.project.MavenProject">17</span></td>
<td>
<span class="class org.apache.maven.project.MavenProject">17</span></td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
<span class="class org.apache.maven.project.MavenProject">00:00:00.139</span></td>
<td><a href="fr.pmu.stories.prixparis.prixParis_Pick5.html">html</a> </td>
</tr>
<tr>
<td class="story successful">PrixParis Quarte</td>
<td>
0</td>
<td>
<span class="class org.apache.maven.project.MavenProject">10</span></td>
<td>
<span class="class org.apache.maven.project.MavenProject">10</span></td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
<span class="class org.apache.maven.project.MavenProject">00:00:00.147</span></td>
<td><a href="fr.pmu.stories.prixparis.prixParis_Quarte.html">html</a> </td>
</tr>
<tr>
<td class="story successful">PrixParis Quinte</td>
<td>
0</td>
<td>
<span class="class org.apache.maven.project.MavenProject">7</span></td>
<td>
<span class="class org.apache.maven.project.MavenProject">7</span></td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
<span class="class org.apache.maven.project.MavenProject">00:00:00.132</span></td>
<td><a href="fr.pmu.stories.prixparis.prixParis_Quinte.html">html</a> </td>
</tr>
<tr>
<td class="story successful">PrixParis SG</td>
<td>
0</td>
<td>
<span class="class org.apache.maven.project.MavenProject">5</span></td>
<td>
<span class="class org.apache.maven.project.MavenProject">5</span></td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
<span class="class org.apache.maven.project.MavenProject">00:00:00.096</span></td>
<td><a href="fr.pmu.stories.prixparis.prixParis_SG.html">html</a> </td>
</tr>
<tr>
<td class="story successful">PrixParis SimplePlace</td>
<td>
0</td>
<td>
<span class="class org.apache.maven.project.MavenProject">5</span></td>
<td>
<span class="class org.apache.maven.project.MavenProject">5</span></td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
<span class="class org.apache.maven.project.MavenProject">00:00:00.064</span></td>
<td><a href="fr.pmu.stories.prixparis.prixParis_SimplePlace.html">html</a> </td>
</tr>
<tr>
<td class="story pending">PrixParis SpotAuto</td>
<td>
0</td>
<td>
<span class="class org.apache.maven.project.MavenProject">5</span></td>
<td>
<span class="class org.apache.maven.project.MavenProject">5</span></td>
<td>
<span class="class org.apache.maven.project.MavenProject">1</span></td>
<td>
0</td>
<td>
0</td>
<td>
<span class="class org.apache.maven.project.MavenProject">00:00:00.298</span></td>
<td><a href="fr.pmu.stories.prixparis.prixParis_SpotAuto.html">html</a> </td>
</tr>
<tr>
<td class="story successful">PrixParis Tic3</td>
<td>
0</td>
<td>
<span class="class org.apache.maven.project.MavenProject">10</span></td>
<td>
<span class="class org.apache.maven.project.MavenProject">10</span></td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
<span class="class org.apache.maven.project.MavenProject">00:00:00.079</span></td>
<td><a href="fr.pmu.stories.prixparis.prixParis_Tic3.html">html</a> </td>
</tr>
<tr>
<td class="story successful">PrixParis Tierce</td>
<td>
0</td>
<td>
<span class="class org.apache.maven.project.MavenProject">10</span></td>
<td>
<span class="class org.apache.maven.project.MavenProject">10</span></td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
<span class="class org.apache.maven.project.MavenProject">00:00:00.077</span></td>
<td><a href="fr.pmu.stories.prixparis.prixParis_Tierce.html">html</a> </td>
</tr>
<tr>
<td class="story successful">PrixParis Trio</td>
<td>
0</td>
<td>
<span class="class org.apache.maven.project.MavenProject">15</span></td>
<td>
<span class="class org.apache.maven.project.MavenProject">15</span></td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
<span class="class org.apache.maven.project.MavenProject">00:00:00.192</span></td>
<td><a href="fr.pmu.stories.prixparis.prixParis_Trio.html">html</a> </td>
</tr>
<tr>
<td class="story successful">TraceArjel-Quarte</td>
<td>
0</td>
<td>
<span class="class org.apache.maven.project.MavenProject">1</span></td>
<td>
<span class="class org.apache.maven.project.MavenProject">1</span></td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
<span class="class org.apache.maven.project.MavenProject">00:00:00.233</span></td>
<td><a href="fr.pmu.stories.traceArjel.traceArjel-Quarte.html">html</a> </td>
</tr>
<tr>
<td class="story successful">ValidationPari Multipari SG-SP</td>
<td>
0</td>
<td>
<span class="class org.apache.maven.project.MavenProject">2</span></td>
<td>
<span class="class org.apache.maven.project.MavenProject">2</span></td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
<span class="class org.apache.maven.project.MavenProject">00:00:00.158</span></td>
<td><a href="fr.pmu.stories.multipari.validationPari_multipari_SG-SP.html">html</a> </td>
</tr>
<tr>
<td class="story successful">ValidationPari NonPartants</td>
<td>
0</td>
<td>
<span class="class org.apache.maven.project.MavenProject">3</span></td>
<td>
<span class="class org.apache.maven.project.MavenProject">3</span></td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
<span class="class org.apache.maven.project.MavenProject">00:00:00.026</span></td>
<td><a href="fr.pmu.stories.validation.validationPari_nonPartants.html">html</a> </td>
</tr>
<tr>
<td class="story successful">ValidationPari Syntaxique</td>
<td>
0</td>
<td>
<span class="class org.apache.maven.project.MavenProject">8</span></td>
<td>
<span class="class org.apache.maven.project.MavenProject">8</span></td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
<span class="class org.apache.maven.project.MavenProject">00:00:00.064</span></td>
<td><a href="fr.pmu.stories.validation.validationPari_syntaxique.html">html</a> </td>
</tr>
<tr>
<td class="story successful">ValidationPari Usecase1</td>
<td>
0</td>
<td>
<span class="class org.apache.maven.project.MavenProject">11</span></td>
<td>
<span class="class org.apache.maven.project.MavenProject">11</span></td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
<span class="class org.apache.maven.project.MavenProject">00:00:00.079</span></td>
<td><a href="fr.pmu.stories.validation.validationPari_usecase1.html">html</a> </td>
</tr>
<tr class="totals">
<td>27</td>
<td>
0</td>
<td>
<span class="class org.apache.maven.project.MavenProject">196</span></td>
<td>
<span class="class org.apache.maven.project.MavenProject">196</span></td>
<td>
<span class="class org.apache.maven.project.MavenProject">1</span></td>
<td>
0</td>
<td>
0</td>
<td>
<span class="class org.apache.maven.project.MavenProject">00:00:02.589</span></td>
<td>
Totals
</td>
</tr>
</table>
<br />
</div>

<div class="clear"></div>
<div id="footer">
<div class="left">Generated on 28/06/2012 14:12:39</div>
<div class="right">JBehave &#169; 2003-2011</div>
<div class="clear"></div>
</div>

</body>

</html>
